<div>
  <nav>
<a href="/" class="btn-floating pulse" > home</a>
<a href="/user/edit"> Edit profile</a>

  </nav>
</div>

<h2>Posts</h2>

<%@user.car_posts.each do |post|%>

 <div class="col s12 m2"> 
<p class="z-depth-2"> 
 Make:<%= post.make%>, Model:<%= post.model%> </p> 
<details>

<summary class='dropdown-trigger btn'>Details</summary>
<p>Miles: <%=post.miles%></p>
<p>Year: <%=post.year%></p>
<p>Price: <%=post.price%></p>
<div>
<form action="/posts/<%= post.id %>/edit" method="get">
<button>Edit</button>
</form>
</div>

<div>
<form action="/posts/<%= post.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
</div>
</details>
<%end%>



   
